h1{ background-color: black;
    color: white;}
    span{color: lightskyblue;}
    h2{background-color: rebeccapurple;
    color: white;
    font-style: oblique;
    text-align: center;}
    h3{background-color: lightskyblue;
    text-align: right;
    text-decoration: underline;
    color: black;}